.mainHorace {
    background-color: #000000;
    background-image: url("https://i.imgur.com/O6si2sv.png");
    width: 100%;
    background-size: cover;

    .horaceBio {
        display: flex;
        margin: 150px auto;
        height: 500px;
        width: 500px;
        margin-right: 50px;
        background: rgba(253, 229, 196, 0.589);
        border-radius: 5px;


        .textBio {
            padding:  15px 25px;
            line-height: 25px;
            width: 500px;
            height: 500px;
            h4 {
                color: black;
                
            }
        }
    }

    h4 {
        font-size: 0.9em;
    }
}